
.slide-in-up {
    animation: slideInDown 10s ease-in-out;
  }
  #about{
    font-family:futura;
  }
  #anjali{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  